%form{action: '/howold', method: 'post'} 
  %p
    生年月日:
    %input{type: 'text', name: 'birthday'}
  %p
    この時、何歳？
    %input{type: 'text', name: 'basedate'}
  %input{type: 'submit', value: '何歳？', class: 'btn btn-sm btn-default'}


