!!!
%html{lang: 'ja'}
  %head
    %meta{charset: 'utf8'}
    %link{rel: 'stylesheet', type: 'css/text', href: '/css/bootstrap.min.css'}
    %meta{name: 'viewport', content:'width=device-width, initial-scale=1.0, user-scalable=no'}
  %body
    =yield


